.table-button {
    background-color: #51f1b6;
    color:#1D2D44;
    font-size: .75rem;
    border: none;
    border-radius: 1rem;
    margin: .125rem .25rem;
    padding: .25rem .75rem;
    cursor: pointer;
}