.dashboard-container {
    padding: 2rem 2rem 2rem 8rem;
    height: 100%;
    width: 100%;
}

.dashboard-top-container {
    height: 65%;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.dashboard-bottom-container {
    height: 35%;
    display: flex;
    gap: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr>th {
    border-bottom: 2px solid #1D2D44;
    font-size: .75rem;
    padding: .25rem;
}

td {
    font-size: .875rem;
}

.win-container, .loss-container {
    background-color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    border: .5px solid #b6b5c0;
    box-shadow: 0 0 .75rem #b6b5c0;
    overflow: auto;
    height: 100%;
    width: 50%;
}

.resolved-bets-container {
    width: 60%;
    display: flex;
    gap: 1rem;
}

.outstanding-bets-container {
    width: 40%;
}

.out-table-container {
    background-color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    border: .5px solid #b6b5c0;
    box-shadow: 0 0 .75rem #b6b5c0;
    overflow: auto;
    height: 100%;
}

.graph-container {
    background-color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    border: .5px solid #b6b5c0;
    box-shadow: 0 0 .75rem #b6b5c0;
    width: 70%;
}

.metrics-container {
    background-color: white;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    border: .5px solid #b6b5c0;
    box-shadow: 0 0 .75rem #b6b5c0;
    overflow: auto;
    width: 30%;
}

tbody>tr:hover {
    background-color: #f4f6fa;
}

.table-title {
    font-size: 1.25rem;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}