.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    background-color: #f4f6fa;
    color: #1D2D44;
}

.home-blurb-container {
    display: flex;
    height: 50%;
    width: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2.5%;
}

.title-header {
    font-size: 2rem;
    font-weight: 900;
}

.home-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    background-color: #51f1b6;
    color: #1D2D44;
    box-shadow: 0 0 2.5rem #51f1b6;
}

.image-container {
    width: 50%;
    height: 50%;
    position: relative;
}

.home-image-container{
    width: 60%;
    height: 100%;
}
img {
    width: 200%;
    height: 100%;
    object-fit: scale-down;
}
#first-image {
    position: relative;
    left: 5%;
    top: 5%;
}
#second-image {
    position: relative;
    right: 15%;
    bottom: 5%;
}

.logo-home{
    font-size: 3rem;
    padding-bottom: .25rem;
}

.login-signup-container {
    position: absolute;
    left: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-button {
    padding-bottom: .25rem;
    border: none;
    border-radius: 1.5rem;
    width: 6rem;
    height: 2.5rem;
    background-color: #51f1b6;
    color: #1D2D44;
    font-weight: 700;
}

#login {
    margin-right: 1rem;
}
