.login-container {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    width: 40%;
    height: 50%;
    min-height: 20rem;
    min-width: 25rem;
    border: .5px solid rgb(161, 161, 161);
    box-shadow: 0rem 0rem .5rem rgb(139, 141, 163);
    border-radius: 2rem;
    position: relative;
    bottom: 5%;
    background-color: #f4f6fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-header {
    font-size: 2rem;
    font-weight: 900;
    color: black;
    text-align: center;
}

.form-form-container {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form {
    gap: .5rem;
}

#login-form > input {
    min-height: 2rem;
    border-radius: .5rem;
    width: 15rem;
    border: none;
    box-shadow: .125rem .125rem .125rem rgb(202, 202, 202);
    padding-left: .5rem;
    padding-bottom: .125rem;
}

#login-form>input:focus {
    outline: 1px solid #1D2D44;
}

#login-button {
    margin-top: .75rem;
    background-color: #51f1b6;
    border: none;
    border-radius: 2rem;
    width: 9rem;
    min-height: 2.25rem;
    color: #1D2D44;
    align-self: center;
    cursor: pointer;
}

p > a {
    color: #51f1b6;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline;
}

@media screen and (max-height: 800px) {
    .logo-home {
        font-size: 2rem;
    }
}

@media screen and (max-height: 475px) {
    .login-header {
        font-size: 1.5rem;
    }
    .login-form-container {
        height: 60%;
        width: 60%;
        min-height: 16rem;
        min-width: 20rem;
    }
    #login-form > input {
        min-height: 1.5rem;
        font-size: .8rem;
    }
    #login-button {
        margin-top: .5rem;
        width: 6rem;
        min-height: 1.5rem;
        font-size: .8rem;
    }
    .logo-home{
        font-size: 1.5rem;
    }
    .signup-message-container > p, a {
        font-size: .75rem;
    }
}