:root {
  --background: #f4f6fa;
  --secondary: 
  --accent: #0DB39E;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100vh;
}

.main-container {
  height: 100%;
  background-color: var(--background);
  color: #1D2D44;
}

main {
  height: 100%;
  position: relative;
}

.home-header-container {
  height: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D2D44;
  color: white;
}